<div class="calc">
    <div class="display">
    <input type="text" [value]="currentInput" readonly />
    <div class="result">{{ result }}</div>
</div>
<div class="buttons">
   <button (click)="appendInput('7')">7</button>
   <button (click)="appendInput('8')">8</button>
   <button (click)="appendInput('9')">9</button>
   <button (click)="appendInput('/')">/</button>
   <button (click)="appendInput('4')">4</button>
    <button (click)="appendInput('5')">5</button>
    <button (click)="appendInput('6')">6</button>
    <button (click)="appendInput('*')">*</button>

    <button (click)="appendInput('1')">1</button>
    <button (click)="appendInput('2')">2</button>
    <button (click)="appendInput('3')">3</button>
    <button (click)="appendInput('-')">-</button>

    <button (click)="appendInput('0')">0</button>
    <button (click)="appendInput('.')">.</button>
    <button (click)="calculate()">=</button>
    <button (click)="appendInput('+')">+</button>

    <button class="clear-btn" (click)="clear()">Clear</button>
</div>
</div>