
<span [ngClass]="active == true ? 'active' : 'inactive'">hello</span>
<span [ngStyle]="{color: active == true ? 'red' : 'green'}">hello</span>

<div class="card" id="td">
   Name: {{userName | name}}  
   <p>US Dollars: {{ 1234.56 | currency:'USD' }}</p>
<p>Indian Rupees: {{ 1234.56 | currency:'INR' }}</p>
</div>

<div *ngIf="role == 'admin'"></div>
<div class="container">
   <div class="col-6">
<table class="table table-striped">
   <thead>
     <tr>
       <th scope="col">#</th>
       <th scope="col">Name</th>
       <th scope="col">Age</th>
       <th scope="col">Email</th>
     </tr>
   
      <tr *ngFor="let data of userD">
       <!-- <th scope="row">2</th> -->
       <td>{{data.id}}</td>
       <td>{{data.name}}</td>
       <td>{{data.age}}</td>
       <td>{{data.email}}</td>
       <td><button (click)="getData(data)">View Details</button></td>
      </tr>
   </thead>
 </table>
</div>
</div>



